/* reset css */
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
@font-face {
    font-family: 'Reboto Bold';
    src: url(font/Roboto-Bold.ttf);
}

 /* caixa */
body{
    background-color: rgb(226, 146, 88);
}
#header .container {
    margin: 200px 330px;
    background-color: white;
    height: 300px;
    width: 50%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;

    
}
.tudo{
    padding:  70px 140px;
}
.titulo{
    white-space: nowrap;
    color: rgb(56, 56, 187);
    font: 400 20px 'Reboto Bold';
}
#botton , #botao , #numero{
    display: flex;
    margin: 30px 0;
}
#botton , #botao{
    margin: 0 60px;
}
#botao {
    border-radius: 12px;
    background-color: rgb(66, 66, 230);
    height: 40px;
    width: 100px;
    margin-left: 130px;
    margin-top: 10px;
    padding: 10px;
}
#botton{
    color: white;
}
#numero{
    color: black;
    width: 220px;
    height: 50px;
    margin: 20px 130px;
    text-align: center;
}